page-tracking {
    .item-block{
        margin-bottom: 16px;
     /*    font-family: 'Montserrat', sans-serif !important; */
    }
  ion-content {
        position: absolute;
        top: 5rem;
        font-family: 'Eina';
    }

}
