<toolbar></toolbar>
<ion-content>
<!--   <ion-list padding> -->
 <!--  <ng-container *ngIf="!next">
    <ion-item padding-right>
      <ion-label> Número de rastreo</ion-label>
      <ion-input type="text" placeholder="" value="99999"></ion-input>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="next">
    <div style="position:relative; top:5rem;">
      <ion-item padding-right>
        <ion-label> Número Registro Almacén</ion-label>
        <ion-input type="text" placeholder="" value="9999"></ion-input>
      </ion-item>
      <ion-item padding-right>
        <ion-label> Fecha de recepción</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" disabled></ion-datetime>
      </ion-item>
      <ion-item padding-right>
        
        <ion-label> Remitente</ion-label>
        <ion-input type="text" placeholder="" value="Fulano Detal"></ion-input>
      </ion-item>
      <ion-item padding-right>
        <ion-label> Referencia</ion-label>
        <ion-input type="text" placeholder="" value="123456789"></ion-input>
      </ion-item>
      <ion-item padding-right>
        <ion-label> Número de rastreo</ion-label>
        <ion-input type="text" placeholder="" value="99999"></ion-input>
      </ion-item>
      <ion-item padding-right>
        <ion-label> Bultos y peso</ion-label>
        <ion-input type="text" placeholder="" value="1 | 10LB"></ion-input>
      </ion-item>
      <ion-item padding-right>
        <ion-label> Descripción</ion-label>
        <ion-input type="text" placeholder="" value="Caucho 255/70/R15"></ion-input>
      </ion-item>
    </div>
  </ng-container> -->
<ion-grid style="padding: 0;">
  <ion-row style="padding: 0;">
    <ion-col col-12 style="padding: 0;">
      <img src="./assets/imgs/banner-app-rastreo.jpg" style="display:block;border-radius: 0 !important;">
    </ion-col>
  </ion-row>
  <ion-row text-center>
    <ion-col col-12>
      <p style="font-size: 2rem;text-align: center;" padding>
        En esta sección podrás hacer seguimiento de tus paquetes de manera rápida y sencilla.
      </p>
    </ion-col>
  </ion-row>
  <ion-row text-center style="margin-bottom: 6rem;">
    <ion-col col-12>
      <button ion-button > Próximamente</button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
