toolbar {
    ion-navbar.toolbar{
        height: 70px !important;
        ion-title{
            background: #f6f7f9/*  color($colors, primary) */ !important;
        }
      }
      .toolbar-background{
        background: #f6f7f9
      }
      
      .toolbar-title{
        img{
          width: 150px;
          display: block;
          margin: 0 auto;
        }
      }
     
}
