page-password {
    .form {
        ion-list.list {
            margin-bottom: 1rem !important;
        }
        .d-flex {
            display: flex;
            align-items: center;
            border: 1px solid #e4e4e4;
            border-radius: 3px;
            padding-right: 18px;
            margin-bottom: 5px;
            .item-inner {
                border: none !important;
                margin-bottom: 0px;
            }
            .eye-icon {
                display: block;
                font-size: 2.5rem;
            }
        }
    }

    .item {
        border: none !important;
        box-shadow: none !important;
    }
    
    .scroll-content {
        overflow: hidden;
        overflow-y: auto;
    }
    
    .form {
        padding-top: 50%; //    max-width: 350px;
        margin: auto;
        ion-list {
            //        border-radius: 3px !important;
            margin-bottom: 0px !important;
            ion-item,
            .item-inner {
                padding-left: 0 !important;
                box-shadow: none !important;
                .label {
                    color: #b7b7b7 !important;
                    font-weight: 300;
                    font-size: 1.2rem !important;
                    margin: 8px!important;
                }
                .text-input {
                    margin: 5px 8px !important;
                    font-size: 1.3rem !important;
                    border: none !important;
                    font-weight: 500 !important;
                }
                .text-input-wp {
                    width: 100%;
                    border: none;
                }
            }
            .item-inner {
                border: 1px solid #e4e4e4 !important;
                border-radius: 3px !important;
                padding-left: 16px;
                margin-bottom: 5px;
            }
        }
        p {
            font-size: 1.4rem;
            width: 250px;
            margin: 10px auto;
            margin-bottom: 45px;
        }
    }
    
    .list .item-input:last-child {
        border-color: transparent !important;
    }
    
    .menu-inner {
        background: rgba(0, 0, 0, 0.85) !important;
        .item,
        .item-inner,
        .toolbar-background {
            background: transparent !important;
            border-color: transparent !important;
            color: white;
        }
        ion-content {
            background: transparent !important;
        }
        ion-header {
            ion-avatar {
                min-width: 60px;
                min-height: 60px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .toolbar-content {
                padding-top: 1.3rem;
            }
            h2 {
                display: flex;
                align-items: center;
                margin-bottom: 7px;
                ion-icon {
                    margin-left: auto;
                }
            }
            p {
                color: rgba(255, 255, 255, 0.5);
                font-size: 1.2rem;
            }
            .menu-tabs {
                img {
                    width: 30px;
                }
                background: #123b54;
                p {
                    color: white;
                    font-size: .95rem;
                }
            }
        }
        .menu-title {
            padding: 16px 8px;
            button {
                ion-label {
                    display: flex;
                    align-items: center;
                    font-size: 1.3rem;
                    margin-top: 6px;
                    margin-bottom: 6px;
                    img {
                        width: 34px;
                        margin-right: 2rem;
                    }
                }
            }
            .drop-down {
                padding-left: 4.5rem;
                ion-label {
                    font-size: 1.2rem;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    font-weight: 100;
                    img {
                        width: 30px;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    .active{
        color: red;
    }
}
