<toolbar>
</toolbar>

<ion-content
 padding>
  <div class="form" padding-left padding-right [formGroup]="myForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p style="color: #005574;font-size: 2.3rem;" text-center>
            <b>
              Iniciar sesión
            </b>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-list>

      <ion-item>
        <ion-label>Correo electrónico</ion-label>
        <ion-input type="text" text-right type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-label class="ion-text-center" color="danger" *ngIf="(myForm.get('email').errors && myForm.get('email').dirty) && myForm.get('email').hasError('required')">Este campo es requerido</ion-label>
      <ion-label  class="ion-text-center" color="danger" *ngIf="(myForm.get('email').errors && myForm.get('email').dirty)">El correo electrónico  no es válido</ion-label>
      <div class="d-flex">
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input  text-right type="text" formControlName="password" *ngIf="pass"></ion-input>
          <ion-input  text-right type="password" formControlName="password" *ngIf="!pass"></ion-input>
        </ion-item>
        <ion-icon name="ios-eye-outline" class="text-light eye-icon" (click)="show()" [ngClass]="{'active': pass}"></ion-icon>
        <ion-label color="danger" *ngIf="(myForm.get('password').errors && myForm.get('password').dirty) && myForm.get('password').hasError('required')">Este campo es requerido</ion-label>

      </div>
    </ion-list>
    <button ion-button full class="bg-thime btn-round btn-text" (click)="doLogin()" [disabled]="myForm.get('password').errors || myForm.get('email').errors">Iniciar sesión</button>
    <p text-center style="">¿Aun no posee una cuenta? <a (click)="goToSignIn()"> Registrarme</a></p>
    <p text-center>
      <small>
        Total Envíos Llc. 
        <span class="text-sky">@2020 </span>
      </small>
    </p>
  </div>
</ion-content

